In [4]:
import pandas as pd
import csv

with open("weather_data.csv") as data_file:
    data = csv.reader(data_file)
    for row in data:
        print (row)

['day', 'temp', 'condition']
['Monday', '12', 'Sunny']
['Tuesday', '14', 'Rain']
['Wednesday', '15', 'Rain']
['Thursday', '14', 'Cloudy']
['Friday', '21', 'Sunny']
['Saturday', '22', 'Sunny']
['Sunday', '24', 'Sunny']

In [6]:
import pandas as pd

# Use padas for faster and pretier print
# First row is the name of the column
# Pandas for data science
# Easy to hold a frame of data to sove particular problem
# Pandas convert the column into a object (treat as an dictionary or an object)
data = pd.read_csv("weather_data.csv")
print (data)

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [8]:
"""
Pandas
    CONSTRUCTOR
        CONVERT TO HTML, CSV.
    PANDAS DATA FRAME TO DICTIONARY

"""
data_dict = data.to_dict()
print (data_dict)

{'day': {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}, 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}, 'condition': {0: 'Sunny', 1: 'Rain', 2: 'Rain', 3: 'Cloudy', 4: 'Sunny', 5: 'Sunny', 6: 'Sunny'}}

## Get data in columns:

In [14]:
# Convert a column to list
data["temp"].to_list()

[12, 14, 15, 14, 21, 22, 24]

In [15]:
# Build in avg, mean, max, min
data["temp"].mean()

17.428571428571427

In [16]:
data["condition"]

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

## Get data in rows:

In [17]:
print(data[data.day == "Monday"])

      day  temp condition
0  Monday    12     Sunny

In [23]:
# Print the row where the data.temp is equal to the maximum or any 
print(data[data.temp == data.temp.max()])

      day  temp condition
6  Sunday    24     Sunny

## Create a dataframe from dictionary

In [25]:
## Create a dataframe from dictionary
data_dict = {
    "students":["Truc", "Phuong", "Bin"],
    "scores": [100,500,50]
}
data = pd.DataFrame(data_dict)
print (data)

  students  scores
0     Truc     100
1   Phuong     500
2      Bin      50