# Truc Huynh Cheat Sheet

### round the decimal
The round function round the number to different float

In [2]:
round(34.5646,1)

34.6

### check if a string is digit
Check if a string is a integer or not. Only work with integer, not float

In [7]:
isdigit_list=['11','string','11.2']
for i in isdigit_list:
    print(f"{i} is an integer" if i.isdigit() else f"{i} is not an integer")

11 is True
11 is an integer
string is False
string is not an integer
11.2 is False
11.2 is not an integer

In [22]:
'1'.isnumeric()

True

### check a string is float

In [19]:
def test_decimal(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

In [20]:
s='3.4'
test_decimal(s)

True

In [21]:
s='3.sdfs4'
test_decimal(s)

False

### math.floor(3.46)
round a number(float, double) to the base level

In [2]:
import math
math.floor(3.46)

3

### input
Prints a string into the console,
and asks the user for a string input.

In [4]:
input("What's your name: ")

What's your name: Truc Huynh

'Truc Huynh'

### string concatenation
You can add strings to string to create
a new string. This is called concatenation.
It results in a new string.

In [5]:
"Hello" + "Angela"
#becomes "HelloAngela"

'HelloAngela'

### escaping a string
Because the double quote is special, it
denotes a string, if you want to use it in
a string, you need to escape it with a \

In [7]:
speech = "She said: \"Hi\""
print(speech)
#prints: She said: "Hi"

She said: "Hi"

### converting data types
You can convert a variable from 1 data
type to another.
- Converting to float: float()
- Converting to int: int()
- Converting to string: str()

In [8]:
n = 354
new_n = float(n)
print(new_n) #result 354.0

354.0

### checking data types
You can use the type() function
to check what is the data type of a
particular variable.

In [23]:
n = 3.14159
type(n)

float

### arithmetic operators
You can do mathematical calculations with
Python as long as you know the right
operators.

In [24]:
3+2 #Add
4-1 #Subtract
2*3 #Multiply
5/2 #Divide
5**2 #Exponent

25

### % operator
- Often you'll want to know what is the remainder after a division.
- e.g. 4 รท 2 = 2 with no remainder but 5 รท 2 = 2 with 1 remainder
- The modulo does not give you the result of the division, just the remainder. It can be really helpful in certain situations, e.g. figuring out if a number is odd or even.

# ERROR

### zero division error
This happens when you try to divide by zero,
This is something that is mathematically
impossible so Python will also complain.

In [26]:
5 % 0

ZeroDivisionError: integer division or modulo by zero

### syntax error
Syntax errors happen when your code
does not make any sense to the computer.
This can happen because you've misspelt
something or there's too many brackets or
a missing comma.

In [28]:
print(12+4))

SyntaxError: unmatched ')' (<ipython-input-28-ddd4b8f2de98>, line 1)

### name error 
This happens when there is a variable
with a name that the computer
does not recognise. It's usually because
you've misspelt the name of a variable
you created earlier.
Note: variable names are case sensitive!

In [29]:
my_number = 4
my_Number + 2

NameError: name 'my_Number' is not defined

# Function
Function allow proframmer group a set of instruction together (and reuse it). The contents of the function must be indented to signal that it's inside.

In [31]:
def my_function():
    print("Hello")
    name = input("Your name:")
    print("Hello")

In [32]:
# Calling Fuction:
my_function()

Hello
Your name:Truc Huynh
Hello

In [34]:
# Functions with Inputs
def add(n1, n2):
    print(n1 + n2)
add(2, 3)

5

In [35]:
# Function with output
def add(n1, n2):
    return n1 + n2
result = add(2, 3)

### Variable Scope
Variables created inside a function are
destroyed once the function has executed.
The location (line of code) that you use
a variable will determine its value.
Here n is 2 but inside my_function() n is 3.
So printing n inside and outside the function
will determine its value.

In [38]:
n = 2


def my_function():
    n = 3
    print(n)
    
    
print(n) #Prints 2
my_function() #Prints 3

2
3

### Keyword Arguments
- When calling a function, you can provide a keyword argument or simply just the value.
- Using a keyword argument means that you don't have to follow any order when providing the inputs.

In [39]:
def divide(n1, n2):
    result = n1 / n2
#Option 1:
divide(10, 5)
#Option 2:
divide(n2=5, n1=10)

# if condition
### if
This is the basic syntax to test if a condition is true. If so, the indented code will be executed, if not it will be skipped.
### else
This is a way to specify some code that will be executed if a condition is false.
### elif
In addition to the initial if statement condition, you can add extra conditions to test if the first condition is false.Once an elif condition is true, the rest of the elif conditions are no longer checked and are skipped.

In [40]:
weather = "sunny"
if weather == "rain":
    print("bring umbrella")
elif weather == "sunny":
    print("bring sunglasses")
elif weather == "snow":
    print("bring gloves")

bring sunglasses

### and
This expects both conditions either side of the and to be true.
### or
This expects either of the conditions either side of the or to be true. Basically, both conditions cannot be false.
### not
This will flip the orginal result of the condition
### comparison operators
These mathematical comparison operators allow you to refine your conditional checks.
```
> Greater than
< Lesser than
>= Greater than or equal to
<= Lesser than or equal to
== Is equal to
!= Is not equal to
```

# Loop

### while
keep repeating until the condition become false

In [45]:
n = 1
while n < 10:
    n += 1
    
print(n)

10

### for
For loops give you more control than while loops. You can loop through anything
that is iterable. e.g. a range, a list, a dictionary or tuple.

In [46]:
all_fruits = ["apple",
"banana", "orange"]
for fruit in all_fruits:
    print(fruit)

apple
banana
orange

### '_' in a For Loop
If the value your for loop is iterating through, e.g. the number in the range, or the item in the list is not needed, you can replace it with an underscore.

### break
This keyword allows you to break free of the loop. You can use it in a for or while loop.

In [47]:
scores = [34, 67, 99, 105]
for s in scores:
    if s > 100:
        print("Invalid")
        break
    print(s)

34
67
99
Invalid

### continue
Skip this iteration on the loop and go to the next. The loop will still continue but start from the top

# list
### adding lists together
You can extend a list with another list by using the extend keyword, or the + symbol.
```
list1 = [1, 2, 3]
list2 = [9, 8, 7]
new_list = list1 + list2
list1 += list2
```

### list slicing
Using the list index and the colon symbol you can slice up a list to get only the portion you want. Start is included, but end is not.

In [ ]:
# list[start:end]
letters = ["a","b","c","d"]
letters[1:3]
# Result: ["b", "c"]

### range
Often you will want to generate a range of numbers. You can specify the start, end and step. Start is included, but end is excluded: start >= range < end

In [ ]:
# range(start, end, step)
for i in range(6, 0, -2):
    print(i)
# result: 6, 4, 2
# 0 is not included.

### randomisation
- The random functions come from the random module which needs to be imported.
- In this case, the start and end are both included start <= randint <= end