# Truc Huynh Cheat Sheet

### round the decimal
The round function round the number to different float

In [2]:
round(34.5646,1)

34.6

### check if a string is digit
Check if a string is a integer or not. Only work with integer, not float

In [7]:
isdigit_list=['11','string','11.2']
for i in isdigit_list:
    print(f"{i} is an integer" if i.isdigit() else f"{i} is not an integer")

11 is True
11 is an integer
string is False
string is not an integer
11.2 is False
11.2 is not an integer

In [22]:
'1'.isnumeric()

True

### check a string is float

In [19]:
def test_decimal(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

In [20]:
s='3.4'
test_decimal(s)

True

In [21]:
s='3.sdfs4'
test_decimal(s)

False

### math.floor(3.46)
round a number(float, double) to the base level

In [2]:
import math
math.floor(3.46)

3

### input
Prints a string into the console,
and asks the user for a string input.

In [4]:
input("What's your name: ")

What's your name: Truc Huynh

'Truc Huynh'

### string concatenation
You can add strings to string to create
a new string. This is called concatenation.
It results in a new string.

In [5]:
"Hello" + "Angela"
#becomes "HelloAngela"

'HelloAngela'

### escaping a string
Because the double quote is special, it
denotes a string, if you want to use it in
a string, you need to escape it with a \

In [7]:
speech = "She said: \"Hi\""
print(speech)
#prints: She said: "Hi"

She said: "Hi"

### converting data types
You can convert a variable from 1 data
type to another.
- Converting to float: float()
- Converting to int: int()
- Converting to string: str()

In [8]:
n = 354
new_n = float(n)
print(new_n) #result 354.0

354.0

### checking data types
You can use the type() function
to check what is the data type of a
particular variable.

In [23]:
n = 3.14159
type(n)

float

### arithmetic operators
You can do mathematical calculations with
Python as long as you know the right
operators.

In [24]:
3+2 #Add
4-1 #Subtract
2*3 #Multiply
5/2 #Divide
5**2 #Exponent

25

### % operator
- Often you'll want to know what is the remainder after a division.
- e.g. 4 รท 2 = 2 with no remainder but 5 รท 2 = 2 with 1 remainder
- The modulo does not give you the result of the division, just the remainder. It can be really helpful in certain situations, e.g. figuring out if a number is odd or even.

# ERROR

### zero division error
This happens when you try to divide by zero,
This is something that is mathematically
impossible so Python will also complain.

In [26]:
5 % 0

ZeroDivisionError: integer division or modulo by zero

### syntax error
Syntax errors happen when your code
does not make any sense to the computer.
This can happen because you've misspelt
something or there's too many brackets or
a missing comma.