In [4]:
import pandas as pd
import csv

with open("weather_data.csv") as data_file:
    data = csv.reader(data_file)
    for row in data:
        print (row)

['day', 'temp', 'condition']
['Monday', '12', 'Sunny']
['Tuesday', '14', 'Rain']
['Wednesday', '15', 'Rain']
['Thursday', '14', 'Cloudy']
['Friday', '21', 'Sunny']
['Saturday', '22', 'Sunny']
['Sunday', '24', 'Sunny']

In [6]:
import pandas as pd

# Use padas for faster and pretier print
# First row is the name of the column
# Pandas for data science
# Easy to hold a frame of data to sove particular problem
# Pandas convert the column into a object (treat as an dictionary or an object)
data = pd.read_csv("weather_data.csv")
print (data)

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [8]:
"""
Pandas
    CONSTRUCTOR
        CONVERT TO HTML, CSV.
    PANDAS DATA FRAME TO DICTIONARY

"""
data_dict = data.to_dict()
print (data_dict)

{'day': {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}, 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}, 'condition': {0: 'Sunny', 1: 'Rain', 2: 'Rain', 3: 'Cloudy', 4: 'Sunny', 5: 'Sunny', 6: 'Sunny'}}

## Get data in columns:

In [14]:
# Convert a column to list
data["temp"].to_list()

[12, 14, 15, 14, 21, 22, 24]

In [15]:
# Build in avg, mean, max, min
data["temp"].mean()

17.428571428571427

In [16]:
data["condition"]

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

## Get data in rows:

In [17]:
print(data[data.day == "Monday"])

      day  temp condition
0  Monday    12     Sunny

In [23]:
# Print the row where the data.temp is equal to the maximum or any 
print(data[data.temp == data.temp.max()])

      day  temp condition
6  Sunday    24     Sunny

## Create a dataframe from dictionary

In [25]:
## Create a dataframe from dictionary
data_dict = {
    "students":["Truc", "Phuong", "Bin"],
    "scores": [100,500,50]
}
data = pd.DataFrame(data_dict)
print (data)

  students  scores
0     Truc     100
1   Phuong     500
2      Bin      50

## Squirrel Chalanges:

In [27]:
## Read the data in
squirrel_data = pd.read_csv("day_25_squirrel_data.csv")

In [34]:
fur_color = squirrel_data.groupby("Primary Fur Color")

In [31]:
for fur in fur_color:
    print(fur)

('Black',               X          Y Unique Squirrel ID Hectare Shift      Date  \
37   -73.957956  40.795934     38C-PM-1014-09     38C    PM  10142018
45   -73.968064  40.779250     17E-AM-1017-05     17E    AM  10172018
94   -73.971054  40.772469     10F-PM-1019-05     10F    PM  10192018
126  -73.958166  40.799771     41A-PM-1007-06     41A    PM  10072018
177  -73.970878  40.772474     10F-PM-1019-12     10F    PM  10192018
...         ...        ...                ...     ...   ...       ...
2908 -73.956448  40.797693     40C-PM-1006-04     40C    PM  10062018
2973 -73.957579  40.795993     38D-AM-1017-06     38D    AM  10172018
2974 -73.959412  40.791787     33E-AM-1014-01     33E    AM  10142018
2984 -73.972116  40.766050      3I-PM-1013-03     03I    PM  10132018
2998 -73.972415  40.773080     10E-AM-1010-02     10E    AM  10102018

      Hectare Squirrel Number    Age Primary Fur Color Highlight Fur Color  \
37                          9  Adult             Black                 NaN
45                          5  Adult             Black                 NaN
94                          5  Adult             Black                 NaN
126                         6  Adult             Black                 NaN
177                        12  Adult             Black               White
...                       ...    ...               ...                 ...
2908                        4  Adult             Black                 NaN
2973                        6  Adult             Black            Cinnamon
2974                        1  Adult             Black            Cinnamon
2984                        3  Adult             Black            Cinnamon
2998                        2  Adult             Black                Gray

      ...   Kuks  Quaas  Moans Tail flags Tail twitches  Approaches  \
37    ...  False  False  False      False         False        True
45    ...  False  False  False      False         False       False
94    ...  False  False  False      False         False       False
126   ...  False  False  False      False         False       False
177   ...  False  False  False      False         False       False
...   ...    ...    ...    ...        ...           ...         ...
2908  ...  False  False  False      False         False       False
2973  ...  False  False  False      False         False       False
2974  ...  False  False  False      False         False       False
2984  ...  False  False  False      False         False       False
2998  ...  False  False  False      False          True       False

      Indifferent  Runs from  Other Interactions  \
37          False      False                 NaN
45           True      False                 NaN
94           True      False                 NaN
126         False       True                 NaN
177         False       True                 NaN
...           ...        ...                 ...
2908        False       True                 NaN
2973        False       True                 NaN
2974        False       True                 NaN
2984        False       True                 NaN
2998         True      False                 NaN

                                        Lat/Long
37    POINT (-73.9579564338627 40.7959337795027)
45     POINT (-73.9680635070949 40.779249873647)
94    POINT (-73.9710541405708 40.7724691605718)
126   POINT (-73.9581655949437 40.7997708190022)
177    POINT (-73.9708775864433 40.772473633538)
...                                          ...
2908  POINT (-73.9564478909357 40.7976928775417)
2973  POINT (-73.9575791421589 40.7959934459432)
2974   POINT (-73.959412243507 40.7917871123534)
2984  POINT (-73.9721159387757 40.7660503188637)
2998    POINT (-73.972415182837 40.773080463452)

[103 rows x 31 columns])
('Cinnamon',               X          Y Unique Squirrel ID Hectare Shift      Date  \
5    -73.968361  40.772591     11H-AM-1010-03     11H    AM  10102018
13   -73.976860  40.770280      5C-PM-1010-09     05C    PM  10102018
20   -73.964987  40.776493     16I-AM-1008-01     16I    AM  10082018
21   -73.967063  40.773499     12I-AM-1013-01     12I    AM  10132018
30   -73.966244  40.789038     28A-PM-1007-05     28A    PM  10072018
...         ...        ...                ...     ...   ...       ...
2997 -73.975208  40.775538     11B-AM-1007-01     11B    AM  10072018
3002 -73.969866  40.774000     12F-PM-1007-09     12F    PM  10072018
3003 -73.952848  40.792206     36I-PM-1007-08     36I    PM  10072018
3017 -73.964544  40.781160     21F-PM-1018-02     21F    PM  10182018
3022 -73.975479  40.769640      5E-PM-1012-01     05E    PM  10122018

      Hectare Squirrel Number       Age Primary Fur Color Highlight Fur Color  \
5                           3     Adult          Cinnamon               White
13                          9     Adult          Cinnamon                Gray
20                          1     Adult          Cinnamon         Gray, White
21                          1     Adult          Cinnamon               White
30                          5     Adult          Cinnamon                 NaN
...                       ...       ...               ...                 ...
2997                        1     Adult          Cinnamon                Gray
3002                        9     Adult          Cinnamon                Gray
3003                        8  Juvenile          Cinnamon                Gray
3017                        2  Juvenile          Cinnamon                Gray
3022                        1     Adult          Cinnamon         Gray, White

      ...   Kuks  Quaas  Moans Tail flags Tail twitches  Approaches  \
5     ...  False  False  False      False          True       False
13    ...  False  False  False      False         False       False
20    ...  False  False  False      False          True       False
21    ...  False  False  False      False          True       False
30    ...  False  False  False      False          True       False
...   ...    ...    ...    ...        ...           ...         ...
2997  ...  False  False  False      False          True        True
3002  ...  False  False  False      False         False       False
3003  ...  False  False  False      False          True       False
3017  ...  False  False  False      False         False       False
3022  ...  False  False  False      False         False        True

      Indifferent  Runs from  Other Interactions  \
5            True      False                 NaN
13          False      False                 NaN
20           True      False                 NaN
21          False       True                 NaN
30          False       True                 NaN
...           ...        ...                 ...
2997        False      False                 NaN
3002         True      False                 NaN
3003         True      False                 NaN
3017        False       True                 NaN
3022        False      False                 NaN

                                         Lat/Long
5      POINT (-73.9683613516225 40.7725908847499)
13     POINT (-73.9768603630674 40.7702795904962)
20     POINT (-73.9649866016038 40.7764929694457)
21    POINT (-73.9670628558161 40.77349914209411)
30     POINT (-73.9662438996681 40.7890381809441)
...                                           ...
2997   POINT (-73.9752079247419 40.7755376979002)
3002    POINT (-73.9698663926657 40.773999710413)
3003   POINT (-73.9528482858163 40.7922056218325)
3017   POINT (-73.9645437409662 40.7811599933331)
3022   POINT (-73.9754794191553 40.7696404489025)

[392 rows x 31 columns])
('Gray',               X          Y Unique Squirrel ID Hectare Shift      Date  \
2    -73.974281  40.775534     11B-PM-1014-08     11B    PM  10142018
3    -73.959641  40.790313     32E-PM-1017-14     32E    PM  10172018
4    -73.970268  40.776213     13E-AM-1017-05     13E    AM  10172018
6    -73.954120  40.793181     36H-AM-1010-02     36H    AM  10102018
7    -73.958269  40.791737     33F-AM-1008-02     33F    AM  10082018
...         ...        ...                ...     ...   ...       ...
3016 -73.966290  40.784330     23C-AM-1019-01     23C    AM  10192018
3018 -73.963943  40.790868     30B-AM-1007-04     30B    AM  10072018
3019 -73.970402  40.782560     19A-PM-1013-05     19A    PM  10132018
3020 -73.966587  40.783678     22D-PM-1012-07     22D    PM  10122018
3021 -73.963994  40.789915     29B-PM-1010-02     29B    PM  10102018

      Hectare Squirrel Number    Age Primary Fur Color  \
2                           8    NaN              Gray
3                          14  Adult              Gray
4                           5  Adult              Gray
6                           2  Adult              Gray
7                           2  Adult              Gray
...                       ...    ...               ...
3016                        1  Adult              Gray
3018                        4  Adult              Gray
3019                        5  Adult              Gray
3020                        7  Adult              Gray
3021                        2    NaN              Gray

         Highlight Fur Color  ...   Kuks  Quaas  Moans Tail flags  \
2                        NaN  ...  False  False  False      False
3                        NaN  ...  False  False  False      False
4                   Cinnamon  ...  False  False  False      False
6                        NaN  ...  False  False  False      False
7                        NaN  ...  False  False  False      False
...                      ...  ...    ...    ...    ...        ...
3016         Cinnamon, White  ...   True  False  False      False
3018                     NaN  ...  False  False  False      False
3019                   White  ...  False  False  False      False
3020  Black, Cinnamon, White  ...  False  False  False      False
3021         Cinnamon, White  ...  False  False  False      False

     Tail twitches  Approaches  Indifferent  Runs from  Other Interactions  \
2            False       False        False      False                 NaN
3            False       False        False       True                 NaN
4            False       False        False      False                 NaN
6            False       False        False      False                 NaN
7            False       False         True      False                 NaN
...            ...         ...          ...        ...                 ...
3016         False       False         True      False                 NaN
3018         False       False        False       True                 NaN
3019         False       False         True      False                 NaN
3020         False       False         True      False                 NaN
3021         False       False         True      False                 NaN

                                        Lat/Long
2     POINT (-73.97428114848522 40.775533619083)
3     POINT (-73.9596413903948 40.7903128889029)
4     POINT (-73.9702676472613 40.7762126854894)
6     POINT (-73.9541201789795 40.7931811701082)
7     POINT (-73.9582694312289 40.7917367820255)
...                                          ...
3016  POINT (-73.9662895079734 40.7843300758044)
3018  POINT (-73.9639431360458 40.7908677445466)
3019  POINT (-73.9704015859639 40.7825600069973)
3020  POINT (-73.9665871993517 40.7836775064883)
3021  POINT (-73.9639941227864 40.7899152327912)

[2473 rows x 31 columns])

In [52]:
dataframe_ = pd.DataFrame(fur_color.count().X)

In [55]:
dataframe_.columns=["count"]

In [56]:
dataframe_

                   count
Primary Fur Color
Black                103
Cinnamon             392
Gray                2473